  <web-app>
  <display-name>Archetype Created Web Application</display-name> 
  <welcome-file-list>  
   <welcome-file>index.jsp</welcome-file>  
   </welcome-file-list>
- <servlet>
  <servlet-name>MyServletName</servlet-name> 
  <servlet-class>com.simple.web.Simplemaven.AppTest</servlet-class> 
  </servlet>
 <servlet-mapping>
  <servlet-name>MyServletName</servlet-name> 
  <url-pattern>/register</url-pattern> 
  </servlet-mapping>
  </web-app>